<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>${document.header}</h1>
    <h2>${document.description}</h2>

    <#list document.sectionList>
        <#items as Section>
        <h3>${Section.title}</h3>
        <p>${Section.text}</p>
        </#items>
    </#list>

  <h2>${document.footer}</h2>

</body>
</html>
